pytest
babel
multipledispatch
scipy
matplotlib
beautifulsoup4==4.14.2
numpy==2.3.4
pandas==2.3.3
plotly==6.4.0
selenium==4.38.0
SQLAlchemy==2.0.44
statsmodels==0.14.5
streamlit==1.51.0
StrEnum==0.4.15
openpyxl==3.1.5
scipy-stubs==1.16.3.0